body{
	margin: 0;
	font-family: 'New Tegomin', serif;
	font-size: 20px;
}

header{
	background-color: #CE2E18;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	border: 10px solid #B4AAA9;
}

h1, h2{
	font-family: 'New Tegomin', serif;
}

/*header styles */ 

header h1{
	color: white;

}

header img{
	border-radius: 300px;
	width: 300px;
	border: 15px solid white;
}

main{
	padding: 30px;
	background-color: #167FCA; 
	border: 10px solid #B4AAA9;
}

main img{
	margin: 0;
	max-width: 100%;
	border-radius: 100px;
	border: 15px solid white;
}

h2{
	font-size: 35px;
	margin: 40px, 0 10px;

}

a{
	color: #10186F;
}
a:hover{
	color:#CA2316;
}


footer{
	background-color: #10596F;
	text-align: center;
	color: white;
	padding: 50px;
	border: 10px solid #B4AAA9;
}

footer p{
	margin:0;
}

p.caption{
	color:#999999;
	font-style: italic;
	margin-top: 0;
	margin-left: 0;
}

h2.underline{
	text-decoration: underline;
	text-decoration-color: currentColor;
}

